{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="formWrapper p50">
    <div class="container">
        <h1>Login</h1>
        <div class="grid gridWrapper p50">
            <form id='signin' method="post">
                {% csrf_token %}
            <div class="form-element">
                <label for="username">Username</label>
                {{form.username}}
                {{form.username.errors}}
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                {{form.password}}
                {{form.password.errors}}
            </div>
            <input type="submit" value="Login" class="btn btn-one">
            <p>Don't have an account ? <a href="#" class="link">Signup</a></p>
            </form>
            <img src="{% static 'assets/login.svg' %}" alt="" id='loginImg'>
        </div>
        
    </div>
</div>
{% endblock content %}