{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="formWrapper p50">
    <div class="container">
        <h1>Sign Up</h1>
        <div class="grid gridWrapper p30">
            <form id='signin' method="post">
                {% csrf_token %}
                <div class="form-element">
                    <label for="username">Username</label>
                    {{form.username}}
                    {{form.username.errors}}
                </div>
                <!-- <div class="form-element">
                    <label for="username">Email</label>
                    {{form.email}}
                    {{form.email.errors}}
                </div> -->
                <div class="form-element">
                    <label for="password1">Password</label>
                    {{form.password1}}
                    {{form.password1.errors}}
                </div>
                <div class="form-element">
                    <label for="password2">Confirm Password</label>
                    {{form.password2}}
                    {{form.password2.errors}}
                </div>
                <input type="submit" value="Sign Up" class="btn btn-one">
                <p>Already have an account ? <a href="{% url 'login' %}" class="link">Login</a></p>
            </form>
            <img src="{% static 'assets/signin.svg' %}" alt="" id='signInImg'>
        </div>
        
    </div>
</div>
{% endblock content %}