{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="formWrapper p50">
    <div class="container">
        <h1>Update your Blog</h1><br><br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-element">
                <label for="title">Title</label>
                {{form.title}}
            </div>
            <div class="form-element">
                <label for="description">Description</label>
                {{form.body}}
            </div>
            <div class="form-element">
                <label for="description">Upload an Image</label><br>
                {{form.image}}
                
            </div>
            <input type="submit"  value="Update" class="btn btn-one">
        </form>
    </div>
</div>
{% endblock content %}