{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blogsList p30">
        <div class="container">
            <div class="flex">
                <h2>Blogs</h2>
                <!-- <a class="moreLink" href="#">My Blogs &#10132;</a> -->
            </div>
            <div class="blogsWrapper grid grid3">
                {% for post in posts %}
                <div class="blog" id='{{post.pk}}'>
                    <div class="author flex">
                        <div class="name flex">
                            <!-- <img src="{% static 'assets/user1.jpg' %}" alt="" class="authorImg"> -->
                            <span>{{post.author.username}}</span>
                        </div>
                        <div class="date">{{post.created_date|date:"F d Y"}}</div>
                    </div>
                    <div class="blogContent">
                        <div class="blogTitle">
                            <h2><a href="{% url 'blog:blog-detail' post.pk %}">{{post.title}}</a></h2>
                        </div>
                        <p>{{post.body|slice:":50"}}</p>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock content %}